
@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  font-family: 'Inter', sans-serif; 
  overscroll-behavior-y: contain; 
  margin: 0; 
  padding: 0; 
}

#root { 
  min-height: 100vh; 
}

.custom-scrollbar::-webkit-scrollbar { 
  width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-track { 
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb { 
  background: #e2e8f0; 
  border-radius: 10px; 
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb { 
  background: #475569; 
}

.no-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.no-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
